@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto&display=swap");

.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer {
  max-width: 265px;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.label {
  color: #727273;
  font-size: 18px;
}

.inputGroup {
  display: flex;
  color: #fff;
}

.imageElement--brands-images:hover {
  filter: grayscale(1);
  transition: .5s;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.infoCardTextContainer--depbanner {
  min-height: 400px;
}

/* DEV */

.newsletter {
  color: #727273;
  max-width: 1528px;
}

.buttonContainer {
  padding: 0;
}

.container {
  padding: 0;
}

.inputGroup {
  padding: 0;
}

.inputGroup :global(.vtex-button) {
  color: #dcb0ac;
  background-color: #762b2b;
  border: 1px solid #e8ccc9;
}

.inputGroup :global(.vtex-button):hover {
  color: #dcb0ac;
  background-color: #fff;
}

.imageElement--prateleira-banners {
  margin-top: 20px;
}

.imageElement--main-banners-images {
  object-fit: cover;
}

.imageElement--prateleira-image {
  object-fit: cover;
}

.imageElement--banner-grid-col {
  margin-top: 20px;
}
.imageElement--main-banners-images {
  height: 300px;
}

.imageElement--prateleira-image {
  padding: 0 10px !important;
}

.imageElement--banner-grid-col,
.imageElement--grid-row,
.imageElement--grid-col,
.imageElement--seo-image {
  display: none;
}

/* .imageElement--grid-row {
  min-width: 100%;
  height: 500px;
  padding-right: 0;
} */

.imageElement--grid-col {
  height: 250px;
  width: 100%;
}

@media (min-width: 660px) {
  .imageElement--main-banners-images {
    height: 450px;
  }

  .imageElement--prateleira-image {
    padding: 0;
  }

  .imageElement--banner-grid-col,
  .imageElement--grid-row,
  .imageElement--grid-col,
  .imageElement--seo-image {
    display: block;
  }

}

@media (min-width: 768px) {
  .paragraph--newsletter{
    font-size: 25px;
  }
}

/* DEV */

@media only screen and (min-width: 640px) {
  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.imageElement {
}
/*
.shippingContainer {
  background: red;
}


.shippingContainer .items-start {
  width: 50%;
} */
