.container--xp {
  width: 80%;
}

.container--newsletter {
  max-height: 350px;
}
.paragraph--seo-text {
  font-size: 20px;
  padding: 0 20px;
  margin: 0;
  font-family: 'Montserrat' !important;
}

.paragraph--newsletter{
  font-size: 16px;
  color: #1E1D20;
  font-weight: 700;
  font-family: 'Montserrat' !important;
}

.paragraph--seo-title{
  padding-top: 0px !important;
  margin-top: 20px !important;
}

@media (min-width: 660px) {
  .paragraph--seo-title {
    font-size: 70px;
    padding-top: 50px;
  }

  .paragraph--seo-text {
    font-size: 40px;
    padding: 0 40px 80px 40px;
    text-align: end;
  }
}
.container--professional-landing-title{
  color: white;
  background-color:#FFCDB2;
  font-family: 'Montserrat' !important;
}

.wrapper--professional-landing-description{
  width: 100%;
  display: flex;
  justify-content: center;
}

.paragraph--professional-landing-description{
  width: 50%;
  color: #1E1D20;
  font-size: 24px;
  line-height: 32px;
  font-family: 'Montserrat' !important;
}

@media (max-width: 1024px){
  .container--professional-landing-title{
    font-size: 32px;
  }
  .paragraph--professional-landing-description{
    width: 90%;
  }
}
